@import url("https://fonts.googleapis.com/css?family=Philosopher");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");
@import url("https://fonts.googleapis.com/css?family=Merriweather|Sawarabi+Mincho|ZCOOL+XiaoWei");
html {
  scroll-behavior: smooth;
}
.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header-color {
  background: #870000; /* fallback for old browsers */
  opacity: 0.6;
  background: -webkit-linear-gradient(
    to top,
    #190a05,
    #870000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #190a05,
    #870000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-page:before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  z-index: -1;
}
.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 5px lightyellow;
}
.name-css {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  font-weight: 100;
  color: white;
  text-align: center;
}
.surname {
  color: yellow;
}
.sub-detail {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 20px;
  font-weight: 20;
  text-align: center;
  margin-top: -25px;
  letter-spacing: 2px;
}
.listposition {
  float: right;
}
/* ************

css for About component 

************** */
.about-css {
  margin-top: 200px;
}

.head-about {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: darkcyan;
}
.content-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 1000px;
}
@media only screen and (max-width: 1280px) {
  .content-about {
    width: auto;
  }
}
.about-detail1 {
  padding: 20px;
  opacity: 1;
  font-size: 25px;
  font-family: "ZCOOL XiaoWei", serif;
}
.about-detail {
  padding: 20px;
  opacity: 0.9;
  font-size: 20px;
  font-family: "ZCOOL XiaoWei", serif;
}
.about-sub-detail {
  font-size: 15px;
  opacity: 0.8;
  font-family: "Merriweather", serif;
}
/* **********

css for eduction component 
******** */
.education-detail {
  padding: 20px;
  font-size: 25px;
  font-family: "ZCOOL XiaoWei", serif;
}
.bach-course {
  opacity: 0.8;
  font-size: 20px;
}
.bach-subject {
  opacity: 0.8;
  font-family: "Merriweather", serif;
  font-size: 15px;
}
.bach-date {
  float: right;
  opacity: 0.8;
}
.jik {
  margin-left: 70px;
}
p i {
  padding: 20px;
  opacity: 0.8;
}
p i:first-child {
  color: lightcoral;
}
p i:nth-child(2) {
  color: lightseagreen;
}
p i:nth-child(3) {
  color: yellow;
}
p i:nth-child(4) {
  color: lightskyblue;
}
p i:nth-child(6) {
  color: lightgreen;
}
p i:nth-child(5) {
  color: lightsalmon;
}
ul li {
  padding: 10px;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 19px;
}
.achievements {
  padding: 20px;
  font-size: 19px;
}

.experience-detail {
  padding: 30px;
  font-size: 25px;
  font-family: "ZCOOL XiaoWei", serif;
}
.exp-title {
  margin-top: -20px;
}
.exp-content {
  display: flex;
  width: auto;
  flex-direction: row;
}
@media only screen and (max-width: 500px) {
  .exp-content {
    display: flex;
    width: auto;
    flex-direction: column;
  }
}
/* about css again */
.bg_color {
  background-color: black;
}
#about {
}
.about_row {
  display: flex;
  flex-direction: row;
  margin-top: 30%;
  margin-bottom: 20%;
}
.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}
.contact-about {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 500px) {
  .about_row {
    flex-direction: column;
    margin-top: 75%;
  }
  .profile-pic {
    width: 100%;
    height: auto;
  }
  .about_h1 {
    text-align: center;
  }
  .contact-about {
    display: flex;
    flex-direction: column;
  }
}
