@import url("https://fonts.googleapis.com/css?family=Philosopher");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei");
@import url("https://fonts.googleapis.com/css?family=Merriweather|Sawarabi+Mincho|ZCOOL+XiaoWei");
html {
  overflow-x: hidden;
}
@media only screen and (max-width: 350) {
  html {
    overflow-x: hidden;
  }
}
#root {
  max-width: 100%;
}
.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header-color {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* fallback for old browsers */
  opacity: 0.6;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-color :hover {
  color: yellow;
}
.menu_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-page:before {
  content: " ";
  display: block;
  position: absolute;
  background-color: #141e30;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-position: 50% 0;
  z-index: -1;
}
.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 5px lightyellow;
}
.name-css {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  font-weight: 100;
  color: white;
  text-align: center;
}
.surname {
  color: yellow;
}
.sub-detail {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 20px;
  font-weight: 20;
  text-align: center;
  margin-top: -25px;
  letter-spacing: 2px;
}
.listposition {
  float: right;
}
/* ************
css for About component 
************** */

.about-css {
  margin-top: 200px;
  width: 100%;
}

.head-about {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: white;
}
.content-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 1000px;
}
@media only screen and (max-width: 1280px) {
  .content-about {
    width: auto;
  }
}
.about-detail1 {
  padding: 20px;
  opacity: 1;
  font-size: 25px;
  font-family: "ZCOOL XiaoWei", serif;
}
.about-detail {
  padding: 20px;
  opacity: 0.9;
  font-size: 20px;
  font-family: "ZCOOL XiaoWei", serif;
}
.about-sub-detail {
  font-size: 15px;
  opacity: 0.8;
  font-family: "Merriweather", serif;
}
/* **********
css for eduction component 
******** */
.education-detail {
  padding: 20px;
  font-size: 25px;
  font-family: "ZCOOL XiaoWei", serif;
}
.bach-course {
  opacity: 0.8;
  font-size: 20px;
}
.bach-subject {
  opacity: 0.8;
  font-family: "Merriweather", serif;
  font-size: 15px;
}
.bach-date {
  float: right;
  opacity: 0.8;
}
.jik {
  margin-left: 70px;
}
p i {
  padding: 20px;
  opacity: 0.8;
}
p i:first-child {
  color: lightcoral;
}
p i:nth-child(2) {
  color: lightseagreen;
}
p i:nth-child(3) {
  color: yellow;
}
p i:nth-child(4) {
  color: lightskyblue;
}
p i:nth-child(6) {
  color: lightgreen;
}
p i:nth-child(5) {
  color: lightsalmon;
}
ul li {
  padding: 10px;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 19px;
}
.achievements {
  padding: 20px;
  font-size: 19px;
}

/* .experience-detail {
  padding: 30px;
  font-size: 25px;
  font-family: "ZCOOL XiaoWei", serif;
}
.exp-title {
  margin-top: -20px;
}
.exp-content {
  display: flex;
  width: auto;
  flex-direction: row;
} */
/* @media only screen and (max-width: 500px) {
  .exp-content {
    display: flex;
    width: auto;
    flex-direction: column;
  }
} */
/* about css again */
.bg_color {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: block;
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  width: 100%;
  background-position: 100% 0;
}
.expbg_color {
  background-color: lightyellow;
}

.about_row {
  display: flex;
  flex-direction: row;
  margin-top: 30%;
  margin-bottom: 20%;
}
.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}
.contact-about {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 800px) {
  .about_row {
    flex-direction: column;
    margin-top: 75%;
  }
  .profile-pic {
    width: 100%;
    height: auto;
  }
  .new_about {
    text-align: center;
  }
  .contact-about {
    display: flex;
    flex-direction: column;
  }
}

.exp_heading {
  text-align: center;

  font-size: 40px;
  color: #cac531;
}
.workchips {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  grid-row-gap: 1em;
}
.workcard {
  color: white;
  width: 345px;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media only screen and (max-width: 800px) {
  .workchips {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 1rem;
    grid-row-gap: 2em;
  }
}
@media (min-width: 800px) and (max-width: 1080px) {
  .workchips {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.edu_row {
  width: 100%;
  margin-top: 30%;
}
.edulist {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: yellow;
}
.footer {
  width: 100%;
  opacity: 0.7;
  margin-top: 10%;
}
.footer-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-a i {
  padding: 20px;
  color: white;
  font-size: 18px;
}

.skill_row {
  width: 100%;

  box-sizing: border-box;
}

.container {
  /* Full width */
  /* Grey background */
  width: 50%;
  background-color: white;
  margin-left: 25%;
  margin-right: 20%;
}

.skills {
  text-align: right; /* Right-align text */
  /* Add some padding */
  color: white; /* White text color */
  height: 1px;
}
.wrapper_skill p {
  margin-left: 25%;
  color: white;
}
.C {
  width: 85%;
  background-color: yellow;
}
.JAVA {
  width: 80%;
  background-color: yellow;
}
.html {
  width: 90%;
  background-color: yellow;
} /* Green */
.css {
  width: 80%;
  background-color: yellow;
} /* Blue */
.js {
  width: 85%;
  background-color: yellow;
} /* Red */
.react {
  width: 75%;
  background-color: yellow;
}
.node {
  width: 70%;
  background-color: yellow;
}
.db {
  width: 65%;
  background-color: yellow;
}
.python {
  width: 50%;
  background-color: yellow;
}
